@import 'vars';
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #373634;
	@include smallText;
}
a {
	color: #373634;
	text-decoration: none;
	&:hover {
		
	}
}
h1 {
	@include largeText;
	margin: 0;
}
h2 {
	@include largeText;
	margin: 0;
}
h3 {
	@include mediumText;
	margin: 0;
}
h4 {
	@include smallText;
	margin: 0;
}
main {
	width: 100%;
	height: 100%;
	min-height: 400px;
	overflow-x: hidden;
	&.artwork {
		overflow: hidden;
	}
}
header {
	height: $headerHeight;
	display: flex;
	background-color: #f6f7f3;
	.name {
		padding: 0 $gutter;
		margin: auto;
    display: flex;
    align-items: center;
	}
	nav {
		padding: 0 $gutter;
		display: flex;
    flex-direction: column;
		flex: 1;
		user-select: none;
	}
}
.links {
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	margin: auto;
	padding: #{$gutter/4} 0 0 0;
	&.about {
		padding: #{$gutter/4} 0 0 0;
	}
	&.filters {
		padding: 0 0 #{$gutter/4} 0;
		align-items: flex-end;
		a {
			opacity: .5;
			h3, h4 {
				float: left;
			}
			&.selected {
				opacity: 1;
				&::before {
				}
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	a {
		float: left;
		display: table;
		margin: 0 #{$gutter/2} 0 0;
	}
}
.content {
	width: 100%;
	height: calc(100% - #{$headerHeight});
	display: flex;
	.inner {
		width: 100%;
    max-width: 45em;
    display: table;
    padding: 2em 0;
    margin: auto;
		h1 {
			width: 100%;
			text-align: center;
			font-size: 4em;
			font-weight: 100;
		}
		.meta {
			width: 100%;
			@include smallText;
			text-align: center;
		}
		.intro {
			width: 100%;
			@include mediumText;
		}
		.body {
			width: 100%;
			@include smallText;
		}
		.date {
			padding: 2em;
			h2.month {
				text-align: center;
				font-weight: 100;
			}
		}
	}
	.full {
		width: 100%;
		max-width: 100%;
		margin: 2em auto;
		.column {
			width: 50%;
			float: left;
			.inner {
				width: calc(100% - 4em);
				max-width: $tabletWidth;
				display: table;
				margin: auto 2em;
				@include mediumText;
				h3 {
					font-weight: 100;
				}
				span {

				}
				p {
					margin-top: 0;
				}
			}
		}
	}
}
.carousel {
	width: 100%;
	height: 100%;
	display: table;
	margin: auto;
	padding: 0;
	position: relative;
	overflow: visible;
	&[data-direction="left"] .slides {
		left: .25em;
	}
	&[data-direction="right"] .slides {
		left: -.25em;
	}
	.slides {
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		// padding-left: 10vw;
		transition: left 200ms $ease;
	}
	.slide {
		width: 100vw;
		height: 100%;
		position: relative;
		float: left;
		figure {
			figcaption {
				display: table;
				@include xSmallText;
				font-style: italic;
				opacity: 0;
				transition: opacity 200ms $ease;
				.inner {
					width: 100%;
					max-width: $tabletWidth;
					display: table;
					margin: auto;
				}
			}
			&:hover {
				figcaption {
					opacity: 1;
				}
			}
		}
		img {
			width: 100%;
			display: table;
			margin: 1rem 0;
			border: 4px solid white;
	    box-shadow: 0 3px 10px 1px rgba(0,0,0,.15);
		}
		// transition: transform 200ms ease-in-out;
		.scroll {
			height: 100%;
			overflow-x: hidden; 
			overflow-y: auto;
		}
		&.intro {
			width: 100%;
			height: 100%;
			.scroll {
				cursor: default;
			}
		}
		// &.right {
		// 	.img {
		// 		background-position: left center;
		// 	}
		// }
		// &.left {
		// 	.img {
		// 		background-position: right center;
		// 	}
		// }
	}
	.arrow {
		width: 10%;
		height: 100%;
		position: absolute;
		top: 0;
		background-size: 2em;
		background-repeat: no-repeat;
		background-position: center;
		opacity: .2;
		z-index: 100;
		transition: opacity 200ms $ease;
		&:hover {
			opacity: 1;	
			cursor: pointer;
		}
		&.left {
			left: 0;
			background-image: url(./../images/arrow-left.svg);
		}
		&.right {
			right: 0;
			background-image: url(./../images/arrow-right.svg);
		}
	}
}
footer {
	width: 100%;
	.inner {
		width: 80%;
		max-width: 45em;
		display: table;
		margin: 2em auto;
		ul {
	    flex-direction: row;
	    align-content: center;
			li {
				list-style: none;
				margin: auto;
				a {
					margin: 0;
				}
			}
		}
		.copyright {
			margin: 2em 0 0 0;
			text-align: center;
			color: $medium;
		}
	}
}