$medium: #707377;
$border: 1px;
$gutter: 2em;
$headerHeight: 5em;
// $contentHeight: 90vh;
$slideWidth: 80vw;
$ease: cubic-bezier(0.645, 0.045, 0.355, 1);
@mixin baseText {
	font-size: 21px;
	line-height: 1.3em;
	@include tablet {
		font-size: 15px;
	}
}
@mixin xSmallText {
	font-size: .8em;
	line-height: 1.5em;
	font-weight: 400;
}
@mixin smallText {
	font-size: 1em;
	line-height: 1.7em;
	font-weight: 400;
}
@mixin mediumText {
	font-size: 1.3em;
	line-height: 1.3em;
	font-weight: 400;
}
@mixin largeText {
	font-size: 2em;
	line-height: 1.2em;
	font-weight: 400;
}
$phoneWidth: 480px;
$tabletWidth: 768px;
$laptopWidth: 1024px;
$desktopWidth: 1440px;
$maxWidth: 800px;

@mixin phone {
	@media (max-width: #{$phoneWidth}) {
		@content;
	}
}

@mixin tablet {
  @media (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptopWidth}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktopWidth}) {
    @content;
  }
}